/* Box Shadow */
.panel {
    box-shadow: 0px 0px 0px 0px #030100;
    transition: box-shadow 0.6s linear;
    background-repeat: no-repeat;
    opacity: .8;
    background-size:  cover;
    background-position: center;
    background-blend-mode: multiply;
    border-radius: 15px;
    padding: 7%;
    font-family: Helvetica;
    margin: 1em;
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);   
    border-radius: 15px;
    color: white;
    justify-items: start;
    grid-template-areas:  "d d d" 
                          "t t t";

}

.panel:hover {
    box-shadow: 0px 0px 0px 5px white;
}

.panel:hover .title h1{
    color: white;
}

/* Underline */
h1 {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
    grid-area: t;
}

h1:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    margin-bottom: -5px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    width: 0; 
}

.panel:hover h1:after { 
    width: 100%; 
    left: 0; 
}

.description {
    grid-area: d;
    z-index:5;
    text-align: left;
}


.title {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 15px;
    color: white;
    z-index: 5;
}