/* Box Shadow */
.panel {
    box-shadow: 0px 0px 0px 0px #030100;
    transition: box-shadow 0.6s linear;
    margin: 0.5em;
    background-size: 'cover';
    height: '100%';

    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(4, 1fr);
    
    /* The named areas below define where elements with
    those names are placed on the grid. */
    grid-template-areas:  "d d d d" 
                          "t t    ";
}

.panel > div {
    color: white;
    font-family: Helvetica;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.panel:hover {
    box-shadow: 0px 0px 0px 5px #030100;
}

.panel:hover .title h1{
    color: white;
}

/* Underline */
h1 {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

h1:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    margin-bottom: -5px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    width: 0; 
}

.panel:hover h1:after { 
    width: 100%; 
    left: 0; 
}

.description {
    grid-area: d;
}


.title {
    font-size: '30px';
    color: 'white';
    grid-area: t;
}

.panel > div:nth-child(1) {
    background-color: #97edab
  }
  
  .panel > div:nth-child(2) {
    background-color: #e5db8e
  }
  
  .panel > div:nth-child(3) {
    background-color: #97dced
  }
  
  .panel > div:nth-child(4) {
    background-color: #97a1ed
  }
  
  .panel > div:nth-child(5) {
    background-color: #b597ed
  }
  
  .panel > div:nth-child(6) {
    background-color: #ed979e
  }
  
  .panel > div:nth-child(7) {
    background-color: #ed979e
  }