.proj {
    color: white;
    background-color: rgb(23,134,68, .9);
    padding: 1%;
    margin: 1%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px;
    overflow-y:auto;
    grid-template-areas:  "t t" 
                          "a a"
                          "a a";

}

.heading {
    grid-area: t;
}

h1 {
    margin-left: 4.7%;
}

p {
    margin-left: 4.7%;
}