.title {
    grid-area: t;
    margin: 20px;
}
.title h1{
    color: white;
}

.return {
  grid-area: r;
  display: flex;
  justify-content: flex-end;
}


.return button{

  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
}

.return img{
  height: 25%;
  width: 25%;
}


.wrapper {
    display: grid;
    grid-gap: 10px;
    
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas:  "t t t r";
}
