.dashboard {
    display: grid;
    grid-gap: 10px;
    width: inherit;
    height: inherit;
    grid-template-columns: repeat(4, 1fr);   
    border-radius: 15px;
    grid-template-areas:  "a p p p" 
                          "r r r r";
}

.about {
    grid-area: a;
}

.projects {
    grid-area: p;
}

.dashboard > div{
    display: flex;
    height: 100%;
    justify-content: space-between;
}


.articles {
    grid-area: r;
}