.dashboard {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 15px;
    grid-template-areas:  "a a p p p p" 
                          "r r r r d d";
}


.about {
    display: flex;
    height: 100%;
    width: 100%;
    grid-area: a;
}

.projects {
    display: flex;
    height: 100%;
    width: 100%;
    grid-area: p;
}

.panel {
    width: inherit;
}

.projects .panel {
    background-blend-mode: color-burn, hard-light ;
    background-position: bottom;
    background-size: contain;
}

.projects .streak {
    position: absolute;
    transform: translate(25%, 90%) scale(1.5, 3.6);
    opacity: .2;
}

#root > div.App > div > div.projects > div.streak > svg > g > text {
    opacity: 0;
}

#root > div.App > div > div.projects > div.streak > svg > g > g > rect{
 border-radius: 20px 20px 20px 20px;
}

.Circle {
    fill: #ff6666;
  }

.articles {
    display: flex;
    height: 100%;
    width: 100%;
    grid-area: r;
}


.diy {
    display: flex;
    height: 100%;
    width: 100%;
    grid-area: d;
}
